<a href="https://colab.research.google.com/github/DurgaBhavana/5731Submissions/blob/master/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

## 1.1 Basic feature extraction using text data (4 points)

In [98]:
# Import the required libraries
import pandas as pd
from six.moves import urllib
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from textblob import TextBlob
from nltk.stem import PorterStemmer
from textblob import Word
import nltk
nltk.download('wordnet')
import itertools
import collections
from nltk import ngrams

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [85]:
# Reading text from the url
legal_case = "https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
sample_text = []
file_data = urllib.request.urlopen(legal_case)

In [86]:
# Decoding the text
for element in file_data:
    sample_text.append(element.decode("utf-8").replace('\r\n', ''))

In [87]:
# Read the decoded text into a data frame
data_df = pd.DataFrame (sample_text, columns = ['Decoded Data'])
data_df

                                          Decoded Data
0
1                                           5 Ala. 740
2                            Supreme Court of Alabama.
3                                                ADAMS
4                                                   v.
..                                                 ...
154            There are no Filings for this citation.
155                                 Negative Treatment
156  There are no Negative Treatment results for th...
157                                            History
158    There are no History results for this citation.

[159 rows x 1 columns]

In [88]:
data_df['sentences'] = data_df['Decoded Data'].apply(lambda text_processing: len(str(text_processing).split(".")))   # Number of sentences (split by '.')
data_df['words'] = data_df['Decoded Data'].apply(lambda text_processing: len(str(text_processing).split(" ")))   # Number of sentences (split by ' ')
data_df['characters'] = data_df['Decoded Data'].str.len()   # Number of characters 
data_df

                                          Decoded Data  ...  characters
0                                                       ...           0
1                                           5 Ala. 740  ...          10
2                            Supreme Court of Alabama.  ...          25
3                                                ADAMS  ...           5
4                                                   v.  ...           2
..                                                 ...  ...         ...
154            There are no Filings for this citation.  ...          39
155                                 Negative Treatment  ...          18
156  There are no Negative Treatment results for th...  ...          58
157                                            History  ...           7
158    There are no History results for this citation.  ...          47

[159 rows x 4 columns]

In [89]:
# Average word length
def average_word(read_sentence):
  if len(read_sentence.split()) != 0:
    word_length = sum(len(text) for text in read_sentence.split())/len(read_sentence.split())
    return word_length
  else:
    return None
data_df['Average word length'] = data_df['Decoded Data'].apply(lambda text_processing: average_word(text_processing))
data_df

                                          Decoded Data  ...  Average word length
0                                                       ...                  NaN
1                                           5 Ala. 740  ...             2.666667
2                            Supreme Court of Alabama.  ...             5.500000
3                                                ADAMS  ...             5.000000
4                                                   v.  ...             2.000000
..                                                 ...  ...                  ...
154            There are no Filings for this citation.  ...             4.714286
155                                 Negative Treatment  ...             8.500000
156  There are no Negative Treatment results for th...  ...             5.555556
157                                            History  ...             7.000000
158    There are no History results for this citation.  ...             5.000000

[159 rows x 5 columns]

In [90]:
# Number of stopwords
stop_word = stopwords.words('english')
data_df['stopwords'] = data_df['Decoded Data'].apply(lambda x: len([x for x in x.split() if x in stop_word]))
# Number of special characters
def no_of_special_characters(read_sentence):
  special_character_count = 0
  range_search = range(len(read_sentence))
  for element in range_search:
    if not((read_sentence[element].isalpha()) and (read_sentence[element].isdigit())):
        special_character_count = special_character_count + 1
  return special_character_count
data_df['Number of special characters'] = data_df['Decoded Data'].apply(lambda x: special_characters(x))
# Number of numerics
data_df['numerics'] = data_df['Decoded Data'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
# Number of uppercase words
data_df['Upper case words'] = data_df['Decoded Data'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data_df

                                          Decoded Data  ...  Upper case words
0                                                       ...                 0
1                                           5 Ala. 740  ...                 0
2                            Supreme Court of Alabama.  ...                 0
3                                                ADAMS  ...                 1
4                                                   v.  ...                 0
..                                                 ...  ...               ...
154            There are no Filings for this citation.  ...                 0
155                                 Negative Treatment  ...                 0
156  There are no Negative Treatment results for th...  ...                 0
157                                            History  ...                 0
158    There are no History results for this citation.  ...                 0

[159 rows x 9 columns]

## 1.2 Basic Text Pre-processing of text data (4 points)

In [92]:
# Lower Casing
data_df['Lower casing'] = data_df['Decoded Data'].apply(lambda x: " ".join(x.lower() for x in x.split()))
# Punctuation removal
data_df['Punctuation removal'] = data_df['Lower casing'].str.replace('[^\w\s]','')
# Stopwords removal
stop_word = stopwords.words('english')
data_df['Stopwords removal'] = data_df['Punctuation removal'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_word))
# Frequent words removal
frequent_words = pd.Series(' '.join(data_df['Stopwords removal']).split())
frequent_words_removal = frequent_words.value_counts()[:10]
print(frequent_words_removal)
list_of_frequent_words = list(frequent_words_removal.index)
data_df['Updated - no frequent words'] = data_df['Stopwords removal'].apply(lambda x: " ".join(x for x in x.split() if x not in list_of_frequent_words))

execution    50
crop         49
levy         25
lien         25
v            22
claimants    22
case         21
right        21
court        20
gathered     19
dtype: int64

In [93]:
# Rare words removal
rare_words = pd.Series(' '.join(data_df['Stopwords removal']).split())
rare_words_removal = rare_words.value_counts()[-10:]
print(rare_words_removal)
indexed = rare_words_removal.index
list_of_rare_words = list(indexed)
data_df['Updated - no rare words'] = data_df['Updated - no frequent words'].apply(lambda x: " ".join(x for x in x.split() if x not in list_of_rare_words))
data_df

chitty           1
693              1
declares         1
elliott          1
subjectmatter    1
slaves           1
sealed           1
policy           1
424              1
agreed           1
dtype: int64

                                          Decoded Data  ...              Updated - no rare words
0                                                       ...
1                                           5 Ala. 740  ...                            5 ala 740
2                            Supreme Court of Alabama.  ...                      supreme alabama
3                                                ADAMS  ...                                adams
4                                                   v.  ...
..                                                 ...  ...                                  ...
154            There are no Filings for this citation.  ...                     filings citation
155                                 Negative Treatment  ...                   negative treatment
156  There are no Negative Treatment results for th...  ...  negative treatment results citation
157                                            History  ...                              history
158    There are no History results for this citation.  ...             history results citation

[159 rows x 14 columns]

In [94]:
# Spelling correction
data_df['Spelling correction'] = data_df['Updated - no rare words'].apply(lambda x: str(TextBlob(x).correct()))
# Tokenization
data_df['Tokenization'] = data_df['Spelling correction'].apply(lambda x: TextBlob(x).words)
# Stemming
st = PorterStemmer()
data_df['Stemming'] = data_df['Tokenization'].apply(lambda x: " ".join([st.stem(word) for word in x]))
# Lemmatization
data_df['Lemmatization'] = data_df['Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data_df

                                          Decoded Data  ...                Lemmatization
0                                                       ...
1                                           5 Ala. 740  ...                    5 all 740
2                            Supreme Court of Alabama.  ...               suprem alabama
3                                                ADAMS  ...                         adam
4                                                   v.  ...
..                                                 ...  ...                          ...
154            There are no Filings for this citation.  ...                  file situat
155                                 Negative Treatment  ...                neg treatment
156  There are no Negative Treatment results for th...  ...  neg treatment result situat
157                                            History  ...                      histori
158    There are no History results for this citation.  ...        histori result situat

[159 rows x 18 columns]

## 1.3 Save all the clean sentences to a csv file (one column, each raw is a sentence) after finishing all the steps above

In [62]:
data_df = data_df.to_csv('CleanedSentences.csv',index=False)

## 1.4 Advance Text Processing

In [95]:
#term frequencies
tf = (data_df['Lemmatization']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf.columns = ['word','Term requencies']
tf

        word  Term requencies
0                        35.0
1        all             17.0
2        740              2.0
3          5              8.0
4    alabama              1.0
..       ...              ...
701      rye              1.0
702    yield              1.0
703     file              2.0
704      neg              2.0
705  histori              2.0

[706 rows x 2 columns]

In [101]:
list_of_words = []
for i in data_df['Lemmatization']:
  list_of_words.append(nltk.tokenize.word_tokenize(i))
words = [i for i in list_of_words if i != []]
looping = list(itertools.chain.from_iterable(words))

In [103]:
# top 10 one grams
one = ngrams(looping, 1)
collections.Counter(one).most_common(10)

[(('law',), 18),
 (('all',), 17),
 (('grow',), 17),
 (('contract',), 16),
 (('rep',), 16),
 (('plaintiff',), 15),
 (('posse',), 14),
 (('attach',), 14),
 (('cotton',), 14),
 (('2',), 13)]

In [107]:
# top 10 bigrams
fd = nltk.FreqDist(nltk.bigrams(looping))
fd.most_common(10)

[(('common', 'law'), 7),
 (('john', 'rep'), 6),
 (('tri', 'hon'), 6),
 (('fieri', 'facial'), 5),
 (('while', 'foot'), 4),
 (('can', 'not'), 4),
 (('appeal', 'circuit'), 4),
 (('error', 'circuit'), 3),
 (('attach', 'favor'), 3),
 (('allen', 'harrison'), 3)]

In [108]:
# top 10 trigrams
fd = nltk.FreqDist(nltk.trigrams(looping))
fd.most_common(10)

[(('2', 'john', 'rep'), 3),
 (('all', 'grover', 'convers'), 3),
 (('5', 'all', '740'), 2),
 (('writ', 'error', 'circuit'), 2),
 (('interest', 'vest', 'posse'), 2),
 (('vest', 'posse', 'either'), 2),
 (('posse', 'either', 'immedi'), 2),
 (('either', 'immedi', 'futur'), 2),
 (('immedi', 'futur', 'time'), 2),
 (('case', 'cite', 'headnot'), 2)]

# 2. Python Regular Expression

In [65]:
import re

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [69]:
ip = "260.08.094.109"
re.sub('\.[0]*', '.', ip)

'260.8.94.109'

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [70]:
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
re.findall(r'2\d\d\d', sentence)

['2010', '2010', '2019']