<a href="https://colab.research.google.com/github/DurgaBhavana/5731Submissions/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [46]:
# write your answer here
sample_string = input("Enter a string here: ")
print(len(sample_string))

Enter a string here: google
6

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [47]:
# write your answer here
read_string = input("Enter a string here: ")
dict_count = {} 
for char in read_string: 
   if char in dict_count: 
      dict_count[char] += 1
   else: 
      dict_count[char] = 1
print("{}".format(str(dict_count)))

Enter a string here: give
{'g': 1, 'i': 1, 'v': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [48]:
# write your answer here
import numpy
sample_list = numpy.random.randint(10,size = 5)
print("List: {0}, Sum of elements in the list: {1}".format(sample_list,sum(sample_list)))

List: [4 3 9 1 8], Sum of elements in the list: 25

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [64]:
# write your answer here
def update_recchar(read_string):
  char = read_string[0]
  read_string = read_string.replace(char, '$')
  read_string = char + read_string[1:]
  return read_string
print(update_recchar('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [52]:
# write your answer here
import math
a = float(input("Enter value for a: "))
b = float(input("Enter value for b: "))
S = 3.14*math.pow(1+(a/b),3)
print(float(S))

Enter value for a: 3
Enter value for b: 4
16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [53]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
print({**dic1, **dic2, **dic3})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [54]:
# write your answer here
new_tuple = ("n",1,"e",5,"w",".","t","+","u",4,"p","l","*","e")
print("." in new_tuple)

True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [73]:
# write your answer here
sample_set = {1,8,3,6,5}
print("Min: {0}, Max: {1}".format(min(sample_set),max(sample_set)))

Min: 1, Max: 8

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [106]:
from itertools import islice
import random

student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058',
                'spk0057','vl0135','nm0547','pn0159','msp0174','dd0420','ds0761','rs0850',
                'ss1995','at0739','at0768','mv0299','tv0119','dy0091'] 
print([list(islice(iter(student_list), 0, ele)) for ele in [4, 3, 5, 4, 5]])

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'], ['vmb0067', 'pc0353', 'snd0097'], ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['vmb0067', 'pc0353', 'snd0097', 'yye0005'], ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940']]