<a href="https://colab.research.google.com/github/DurgaBhavana/5731Submissions/blob/master/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [243]:
# import numpy library to use randint
import numpy
random_list = numpy.random.randint(1,100,size = 12)
print("List: {0}".format(random_list))
ascending_list = sorted(random_list, reverse = False)
print("List after sorted in ascending order: {0}".format(ascending_list))
descending_list = sorted(random_list,reverse = True)
print("List after sorted in descending order: {0}".format(descending_list))
print("Average of elements in the list: {0}".format(sum(random_list)/len(random_list)))

List: [97 15 85  7 85 65  3 97 82 88 69 44]
List after sorted in ascending order: [3, 7, 15, 44, 65, 69, 82, 85, 85, 88, 97, 97]
List after sorted in descending order: [97, 97, 88, 85, 85, 82, 69, 65, 44, 15, 7, 3]
Average of elements in the list: 61.416666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [80]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [85]:
# Question 1
sample_sentence_1 = input("Enter a sentence: ")
sample_sentence_2 = input("Enter second sentence: ")

Enter a sentence: I love you
Enter second sentence: love

In [86]:
# Question 2
sentence1 = word_tokenize(sample_sentence_1)
sentence2 = word_tokenize(sample_sentence_2)
print("The words in both the lists are : \n{0} \n{1}".format(sentence1,sentence2))

The words in both the lists are :
['I', 'love', 'you']
['love']

In [87]:
# Question 3
def common_in_sets(set1, set2):
  s_set1 = set(set1)
  s_set2 = set(set2)
  if (s_set1 & s_set2):
    print("The common elements are: {0}".format(s_set1 & s_set2))
  else:
    print("No common elements")

In [88]:
common_in_sets(sentence1, sentence2)

The common elements are: {'love'}

In [89]:
# Question 4
getVals_1 = list([val for val in sample_sentence_1 
               if val.isalpha() or val.isnumeric()])
result_1 = "".join(getVals_1)
getVals_2 = list([val for val in sample_sentence_2
               if val.isalpha() or val.isnumeric()])
result_2 = "".join(getVals_2)
print ("Sentence after removing punctuations: \n{0} \n{1}".format(result_1, result_2))

Sentence after removing punctuations:
Iloveyou
love

In [90]:
# Question 5
lowercase_1 = sample_sentence_1.lower()
lowercase_2 = sample_sentence_2.lower()
vowel_counts1 = {}
vowel_counts2 = {}
for vowel in "aeiou":
    count_vowels_1 = lowercase_1.count(vowel)
    count_vowels_2 = lowercase_2.count(vowel)
    vowel_counts1[vowel] = count_vowels_1
    vowel_counts2[vowel] = count_vowels_2
print("Count of vowels in sentence 1: {0} \nCount of vowels in sentence 2: {1} ".format(vowel_counts1, vowel_counts2))

Count of vowels in sentence 1: {'a': 0, 'e': 1, 'i': 1, 'o': 2, 'u': 1}
Count of vowels in sentence 2: {'a': 0, 'e': 1, 'i': 0, 'o': 1, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [97]:
import numpy
print("r   V")
for r in range(1,11):
  V = (4.0/3.0) * numpy.pi * r**3
  print("{0}   {1}".format(r,V))

r   V
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [212]:
import pandas as pd

In [226]:
# Question 1
housing_data_df = pd.read_csv('/Assignment1_denton_housing.csv')
hd_df = housing_data_df[[ 'year','title_field', 'value']].groupby(['title_field']).get_group('Occupied Housing Units')
sorted_df = hd_df.sort_values(by=['year'])
sorted_df['difference'] = sorted_df['value'].shift(-1) - sorted_df['value']
final_df = sorted_df.sort_values(by=['difference'])
final_df.dropna()

    year             title_field  value  difference
20  2008  Occupied Housing Units  36711      -795.0
14  2010  Occupied Housing Units  41007      -303.0
11  2011  Occupied Housing Units  40704      1404.0
8   2012  Occupied Housing Units  42108      1565.0
5   2013  Occupied Housing Units  43673      2622.0
17  2009  Occupied Housing Units  35916      5091.0

In [229]:
# Question 2
occupied_sum_df = housing_data_df.loc[housing_data_df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
vacant_sum_df = housing_data_df.loc[housing_data_df['title_field'] == 'Vacant Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
sum_df = housing_data_df.loc[housing_data_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()

percent_vacant = [str((i/j)*100)+' %' for i,j in zip(vacant_sum_df,sum_df)]
percent_occupied = [str((i/j)*100)+' %' for i,j in zip(occupied_sum_df,sum_df)]

housing_data_df = pd.concat([pd.DataFrame(housing_data_df.loc[housing_data_df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['year'].values.tolist(),
                             columns=['Year']),
                pd.DataFrame(percent_vacant,columns =['vacant housing units']),
                pd.DataFrame(percent_occupied,columns =['occupied housing units'])],axis=1)
print(housing_data_df)

   Year vacant housing units occupied housing units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [236]:
# Question 3
housing_data_df = pd.read_csv('/Assignment1_denton_housing.csv')
highest_occupied = housing_data_df.loc[housing_data_df['title_field'] == 'Occupied Housing Units','value'].max()
highest_vacant = housing_data_df.loc[housing_data_df['title_field'] == 'Vacant Housing Units','value'].max()
occupied_df = housing_data_df.loc[(housing_data_df['title_field'] == 'Occupied Housing Units') & (housing_data_df['value'] == highest_occupied)]
vacant_df = housing_data_df.loc[(housing_data_df['title_field'] == 'Vacant Housing Units') & (housing_data_df['value'] == highest_vacant)]
housing_data_df = pd.concat([vacant_df,occupied_df])
print(housing_data_df[['title_field','year','value']])

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [242]:
# Question 4
from scipy.stats import hmean
print("The harmonic mean of total housing units: {0}".format(hmean(sum_df)))

The harmonic mean of total housing units: 44398.28543969185